:root{
    --color-primario: #D57E40;
    --color-secundario: #D3D3D3;
    --color-enfasis:#FF0000;
    --color-foot: #A85B24;
    --color-verde: #5CB85C;
    --color-logo:#FFA971;

    --fuente-titulos: 'Courgette', cursive;
    --fuente-cuerpo:'Montserrat', sans-serif;
}

/*
    GENERALES
*/
html{
    box-sizing: border-box;
    }
    *,*::before,*::after{
    box-sizing: inherit;
    }

body{
    height: 100%;
    font-family: var(--fuente-cuerpo);
}

body#index{
    background-color: var(--color-primario);
}

h1,h2,h3{
    font-family: var(--fuente-titulos);
    text-align: center;
    padding: 30px;
    margin: 0;
}

hr{
    width: 90%;
    border-bottom: 1px solid var(--color-primario);
    margin: 10px auto;
}
.bg-gris{
    background-color: var(--color-secundario);
}
.boton-circular{
    border-radius: 50%;
}

.centrado{
    text-align: center;
}
.color-primario{
    color: var(--color-primario);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.btn{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.btn.primario{
    background-color: var(--color-primario);
    color: white;
    transition: .4s ease-in-out;
}
.btn.primario:hover{
    background-color: rgb(197, 99, 28);
}

.btn.secundario{
    background-color: var(--color-secundario);
    color: black;
    transition: .4s ease-in-out;
}

.btn.secundario:hover{
    background-color: rgb(158, 157, 157);
}

/*
    HERO
*/

@media only screen and (min-width: 758px){
    .hero{
        background-position: center;
        background-size: cover;
    }
}

.hero{
    background-image: url('../img/hero.jpg');
    background-position: right;
    background-size: cover;
    height: 100vh;
}

/*
    BARRA
*/

.barra{
    width: 100%;
    position: fixed;
    background-color: var(--color-primario);
    height: 8vh;
    z-index: 2;
}
@media only screen and (min-width: 768px){
    .barra{
        height: 10vh;
    }
}


.logo-nav{
    float: left;
    width: 75%;
    height: 100%;
    padding: 7px;
}
@media only screen and (min-width: 768px){
    .logo-nav{
        width: 25%;
        padding: 10px;
    }
}



.logo-nav img{
    max-width: 8vh;
    border-radius: 10px;
}

.navegacion-principal{
    display: none;
    width: 100%;
    background-color: var(--color-primario);
}
@media only screen and (min-width: 768px){
    .navegacion-principal{
        display: block;
        text-align: right;
        float: right;
        margin-top: 10px;
        width: 70%;
        background-color: transparent;
    }
}
.navegacion-principal a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    clear: both;
}
@media only screen and (min-width: 768px){
    .navegacion-principal a{
        display: inline-block!important;
        padding: 10px;
        padding-bottom: 5px;
        transition: .4s ease-in-out;
        clear: both;
    }
}

.navegacion-principal a.activo{
    border: 1px solid white;
}
.navegacion-principal a:hover{
    background-color: var(--color-foot);
}


.menu-movil{
    display: block;
    float: right;
    color: white;
    padding: 5px;
    margin: 10px;
    font-size: 1.3em;
}
@media only screen and (min-width: 768px){
    .menu-movil{
        display: none;
    }
}




.logo-btns{
    width: 90%;
    margin-top: 5vh;
    background-color: white;
    padding: 8px;
}

@media only screen and (min-width: 758px){
    .logo-btns{
        margin: 0 auto;
        float: right;
        height: 70%;
        width: 30%;
        margin-top: 10vh;
        margin-right: 20vw;
    }
}

.logo img{
    /*background-color: black;**/
    /*background-image: url('../img/logo.png');*/
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.contenedor-btns{
    height: 20%;
    width: 100%;
    margin-top: 20vh;
}
.contenedor-btns .btn{
    font-size: 1em;
}
@media only screen and (min-width: 758px){
    .contenedor-btns .btn{
        font-size: 1.5em;
    }
    .contenedor-btns{
        margin-top: 30px;
    }
}

.sombra{
    -webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.68);
    box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.68);
    margin-bottom: 4rem;
}


/*
    CUERPO
*/

.contenedor{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contenedor-index{
    background-color: white;
    border-radius: 10px;
}

.contenedor-articulo, .contenedor-contacto{
    width: 100%;
}

.contenedor-articulo .parrafo{
    font-size: 1.2em;
    padding: 18px;
    text-align: center;
}
@media only screen and (min-width: 758px){
    .contenedor-articulo .parrafo{
        width: 50%;
        padding: 40px;
    }
    .float-left{
        float: left;
    }
    
    .float-right{
        float: right;
    }
}


.contenedor-articulo img{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}
@media only screen and (min-width: 758px){
    .contenedor-articulo img{
        padding: 40px;
        width: 50%;
    }
}

.campos{
    width: 100%;
    padding: 10px;
}
@media only screen and (min-width: 758px){
    .campos{
        padding: 40px;
        width: 50%;
    }

}
.campos input{
    width: 100%;
    margin: 0 auto;
    padding: 1.2em;
    margin: 10px auto;
    font-size: 1em;
}

button.btn-img{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 15px;
    opacity: .8;
    filter: alpha(opacity=50);
    transition: .4s ease-in-out;
}
@media only screen and (min-width: 758px){
    button.btn-img{
        width: 50%;
    }
}
button.btn-img:hover{
    cursor: pointer;
    opacity: 1;
}


#contacto input{
    border: 2px solid var(--color-secundario);
}
#contacto input:focus{
    border: 2px solid var(--color-primario);
}



/*
    APP
*/

.contenedor-app{
    padding-top: 11vh;
}
/*
    EMPLEADORES
*/
.contenedor-empleadores{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media only screen and (min-width: 768px){
    .contenedor-empleadores{
        flex-direction: row;
        justify-content: space-around;
    }
}

.empleador-cuadro{
    padding: 10px;
    height: 200px;
    width: 200px;
}

@media only screen and (min-width: 768px){
    .empleador-cuadro{
        flex: 1 0 25%;
        margin: 2%;
    }
}

.empleador-cuadro .boton-circular{
    background-color: #00344d;
    border: none;
    width: 100%;
    height: 100%;
}

.empleador-cuadro .boton-circular:hover{
    cursor: pointer;
}

.empleador-cuadro i{
    color: white;
    font-size: 2.5em;
    padding: 10px;
}

.empleador-cuadro p{
    padding: 10px;
    text-align: center;
    margin: 5px;
    font-size: 1.2em;
    color: white;
}


/*
    FOOTER
*/

footer{
    margin-top: 20px;
    background-color: var(--color-foot);
    width: 100%;
    bottom: 0!important;
}

.footer p{
    padding: 20px ;
    text-align: center;
    color: white;
}


